<h1>Welcome to your abode abode</h1>
<h2><%= @dwelling.name %></h2>
<h3><%= @dwelling.address %></h3>
<p>Send the code '<%= @dwelling.secret_key %>' to your roommates to let them join this abode.</p>
