<h1>Welcome, <%= @user.name %></h1>
<h2>Your abode</h2>
<ul>
  <li>
    <% if @user.dwelling != nil %>
    <%= link_to "#{@user.dwelling.name}", dwelling_show_path(@user.dwelling.id) %>
    <% else %>
    <%= link_to "Create abode", dwellings_new_path %>
    <% end %>
  </li>
</ul>
