<li>
  <div id="user_expense_<%=user_expense.id%>" class="user_expense" >
    User Expense:
    <%= user_expense.expense.name %>
    <%= user_expense.portion %>
    <%= user_expense.paid %>
  </div>
</li>
