// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #03A89E;
}

.container {
  max-width: 800px;
  margin: auto;
}

.sign-up {
	box-sizing: border-box;
	width: 320 px;
	height: 140px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
}

.sign-up a {
	color: #03A89E;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
	margin-top: 50%;
}


img {
  display: block;
  margin: auto;
  width: 100%;
}
